<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/myservice/index.html">YOUR-PRODUCT-NAME</a>
      </li>

      <li>
        <a href="/myservice/installing.html">Installing and Configuring YOUR-PRODUCT-NAME</a>
      </li>

      <li>
        <a href="/myservice/using.html">Using YOUR-PRODUCT-NAME</a>
      </li>

      <li>
        <a href="/myservice/release-notes.html">YOUR-PRODUCT-NAME Release Notes</a>
      </li>
      
    </ul>
  </div>
</div><!--end of sub-nav-->
