---
title: Appdynamics for Pivotal Cloud Foundry
owner: Partners
---

## <a id='overview'></a>Overview

The AppDynamics integration with Pivotal Cloud Foundry (PCF) allows you to easily deploy AppDynamics-monitored applications on the [Pivotal Network](http://network.pivotal.io).

AppDynamics APM supports performance monitoring of application metrics. AppDynamics agent code embedded or bundled with an application instruments the application code and publishes performance monitoring metrics and other details back to the Application Dashboard in the AppDynamics Controller web UI.


### <a id="reqs"></a>Requirements

1. An Appdynamics Controller installation
1. An Appdynamics Account
1. Pivotal Cloud Foundry version 2.0 or higher


### <a id="limitations"></a>Limitations

1. Machine Agent metrics based on the old JMX bridge are deprecated in this release.
2. We will be releasing the Machine Agent support based of firehose loggreagator in the future releases. 

### <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list] (pivotal-cf-feedback@pivotal.io).

### <a id='license'></a>License

Users interested in AppDynamics can sign up for a [free trial license] (https://portal.appdynamics.com/account/signup/signupForm).
