---
title: YOUR-PRODUCT-NAME
owner: Partners
---

**This topic should begin with a brief description of your product. See below for an example.**

This documentation describes the Redis Labs Enterprise Cluster (RLEC) Service Broker for Pivotal Cloud Foundry (PCF). 
The RLEC Service Broker registers a service broker on PCF and exposes its service plans on the Marketplace. 
Developers can provision Redis databases by creating instances of the service plans using Apps Manager or the cf CLI.

## <a id='overview'></a>Overview

**The overview should provide a description of the product's key features.**

YOUR-PRODUCT-NAME includes the following key features:

* Feature one.
* Feature two.
* Feature three.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>YOUR-PRODUCT-NAME details:</dt>
<dd><strong>Version</strong>: vYOUR-VERSION-NUMBER </dd>
<dd><strong>Release date</strong>: YOUR-RELEASE-DATE (Ex: August 1, 2016)</dd>
<dd><strong>Software component version</strong>: vYOUR-SOFTWARE-COMPONENT-VERSION-NUMBER</dd>
<dd><strong>Compatible Ops Manager version(s)</strong>: vYOUR-COMPATIBLE-OPS-MAN-VERSION (Ex. v1.6.x, v1.7.x)</dd>
<dd><strong>Compatible Elastic Runtime version(s)</strong>: vYOUR-COMPATIBLE-ELASTIC-RUNTIME-VERSION (Ex. v1.4.x, v1.5.x, v1.6.x)</dd>
<dd><strong>vSphere support?</strong> YES-OR-NO</dd>
<dd><strong>OpenStack support?</strong> YES-OR-NO</dd>
<dd><strong>AWS support?</strong> YES-OR-NO</dd>
</dl>

## <a id="reqs"></a>Requirements

**Provide any general or specific requirements, prerequisites, or dependencies here. 
A general requirement might be something like, "An AppDynamics account." 
A specific requirement might be something like, "Packaging Dependencies for Offline Buildpacks."**

YOUR-PRODUCT-NAME has the following requirements:

+ PREREQUISITE-1

+ PREREQUISITE-2

## <a id="limitations"></a>Limitations

**List any known limitations.**

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to YOUR-SUPPORT-EMAIL.

## <a id='license'></a>License

**List any license information here.**

