---
title: Splunk OpenTelemetry Collector for VMware Tanzu (Beta)
owner: Partners
---

<strong><%= modified_date %></strong>

<p class="note warning">
<strong>Warning: </strong>
The Splunk OpenTelemetry Collector for VMware Tanzu tile is currently an experimental feature and is intended for evaluation and test purposes only.
Do not use this product in a VMware Tanzu production environment.
</p>

<%# **This topic begins with a brief description of what the product tile (e.g. Apigee Edge Service Broker for VMware Tanzu) does,
whereas the Overview section below describes what the service itself (e.g. Apigee Edge) does. See below for an example.** %>

The Splunk OpenTelemetry Collector for VMware Tanzu enables users to monitor the health and
performance of their VMware Tanzu deployment through the Splunk OpenTelemetry Collector.

<%# **Note**: This description appears under **OVERVIEW** in the tile's listing on
[Pivotal Network](http://network.pivotal.io). %>

## <a id='overview'></a>Overview

<%# **The overview describes the service that your product offers to VMware Tanzu developers.
Make sure to overview the features of the integration.
Don't focus only on the overview of your product that is being integrated.
See below for an example.** %>


<%# **Note**: This overview appears under **OVERVIEW**, combined with the description above in the tile's listing on
[Pivotal Network](http://network.pivotal.io). %>

The Splunk OpenTelemetry Collector for VMware Tanzu deploys the [Splunk distribution of the OpenTelemetry Collector]
(https://docs.splunk.com/Observability/gdi/opentelemetry/resources.html)
to connect to the Loggregator Firehose, forwarding metrics to Splunk Observability Cloud. This allows
Splunk Observability Cloud users to monitor their Cloud Foundry deployment and apps.

## <a id='features'></a>Key Features

<%# **Note**: This feature list appears under **FEATURES** in the tile's listing on
[Pivotal Network](http://network.pivotal.io).
Make sure you list the key features of the tile (the integration).
We cannot accept a list of the key features of your product that we are integrating. %>

The Splunk OpenTelemetry Collector for VMware Tanzu includes the following key features:

* At-a-glance visualization of key metrics
* Built-in dashboards
* BOSH Release of the Splunk OpenTelemetry Collector to use in deployments

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Splunk OpenTelemetry Collector
for VMware Tanzu.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.81.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 28, 2023</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v0.81.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2, v3, and v4</td>
    </tr>
    <tr>
        <td>Compatible Tanzu Application Service version(s)</td>
        <td>v2, v3, and v4</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Jammy</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

<%# **Provide any general or specific requirements, prerequisites, or dependencies here.
A general requirement might be something like, "An AppDynamics account."
A specific requirement might be something like, "Packaging Dependencies for Offline Buildpacks."** %>

Splunk OpenTelemetry Collector for VMware Tanzu has the following requirements:

+ Administrative access to your VMware Tanzu deployment

+ A Splunk Observability Cloud account and [access token](https://docs.splunk.com/Observability/admin/authentication-tokens/tokens.html)

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue, please refer to Splunk's
[support page](https://docs.splunk.com/Observability/get-started/support.html).

## <a id='license'></a>License

Splunk OpenTelemetry Collector for VMware Tanzu is released under the Apache License 2.0.
