---
title: Installing and Configuring YOUR-PRODUCT-NAME
owner: Partners
---

This topic describes how to install and configure YOUR-PRODUCT-NAME.

##<a id='install'></a> Install and Configure YOUR-PRODUCT-NAME

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of YOUR-PRODUCT-NAME. 
This adds the tile to your staging area.

1. Click the newly added **YOUR-PRODUCT-NAME** tile.

1. **This portion of the procedure should tell the users how to configure the newly added tile by
walking them through the sections. Which fields should they fill out? What are the different
checkboxes? Include relevant screenshots here.** 

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install YOUR-PRODUCT-NAME tile.

**If needed, include additional configuration information below. For example, maybe there are
configuration options not required for installation but which could be useful for certain users.**
