---
title: Installing and Configuring Appdynamics
owner: Partners
---

This topic describes how to install and configure Appdynamics APM monitoring in Pivotal Cloud Foundry.

## <a id='before-you-start'></a>Before You Start

Create a [Pivotal Network](https://network.pivotal.io) account if you do not have one.


## <a id='set-up-the-service-broker-tile'></a> Set up the Service Broker Tile

1. Log in to the Ops Manager.

2. If the AppDynamics Service Broker tile does not appear in the Installation Dashboard, click __Import a Product__ in the left-side menu and import the AppDynamics tile.

3. Double-click on the __AppDynamics__ tile in the Installation Dashboard.

4. In the Settings tab, click __AppDynamics Controller Configuration__ (left menu). Then click __Add__ (right side of the page). ![](./images/install-02-appd-controller-config-add.png)

5. Enter the following Service Plan options. All these fields are required. The [Java Agent configuration page](https://docs.appdynamics.com/display/LATEST/Java+Agent+Configuration+Properties) page includes descriptions for these options.

  1. Controller configuration name

  1. Controller configuration description

  1. Account Name --  The account name used to access the Controller

  1. Account Access Key --  In the Controller, click the gear icon  and choose _License > Account > Access Key_.
       If the Account Access Key includes a one or more '$' characters, append a second '$' to every '$' included in the key string and surround the entire string with single quotes(').

  1. Controller Host

  1. Controller Port

  1. SSL Port --  Do not enable. SSL is not supported in this version of the tile. ![](./images/install-03-controller-config-options.png)

6. Click __Save__ to save the changes and return to the Installation Dashboard.

7. In the Installation Dashboard, click __Apply Changes__ (right pane) and wait for all the changes to get applied.
