---
title: Release Notes for Splunk OpenTelemetry Collector for VMware Tanzu
owner: Partners
---

<strong><%= modified_date %></strong>

<%# **This topic should include the Release Notes for your product. For examples, see the
[GCP Service Broker Release Notes](http://docs.pivotal.io/gcp-sb/release-notes.html) or the 
[ISS Knowtify Search Analytics Release Notes](http://docs.pivotal.io/knowtify/release.html).
When you release a new version, add new release notes to this file, keeping the older notes below.** %>

These are release notes for Splunk OpenTelemetry Collector for VMware Tanzu.

##<a id="ver"></a> v0.81.0

**Release Date:** July 28, 2023

- Add support for TAS v3 and v4.
- Update Splunk OpenTelemetry Collector to release of [v0.81.0](https://github.com/signalfx/splunk-otel-collector/releases/tag/v0.81.0)

##<a id="ver"></a> v0.78.1

**Release Date:** June 9, 2023

This is the initial release of the Splunk OpenTelemetry Collector for VMware Tanzu.
The Splunk OpenTelemetry Collector for VMware Tanzu enables users to monitor the health and
performance of their VMware Tanzu deployment through the Splunk OpenTelemetry Collector.


The initial release of Splunk OpenTelemetry Collector for VMware Tanzu uses [v0.78.1 of the
Splunk OpenTelemetry Collector](https://github.com/signalfx/splunk-otel-collector/releases/tag/v0.78.1)
