---
title: Release Notes for Appdynamics Tile
owner: Partners
---

##<a id='4487'></a> v4.4.87

**Release Date:**  2018-04-16

#### APM-only Release

**Features**

* New Service Broker implements OpenServiceBrokerApi(2.11)
* Lighter on Memory Requirement
* Works only with PCF (2.0) or higher

**Limitations**

* Machine Agent metrics based on the old JMX bridge have been deprecated.
