---
title: Release Notes for Appdynamics Tile
owner: Partners
---

##<a id='001'></a> v0.0.1

**Release Date:**  2018-04-05

#### APM only Release

**FEATURE(s)**

* New Service Broker implements OpenServiceBrokerApi(2.11). Has a lighter memory requirement

#### Full Release

**FEATURE(s)**

* Not Available




