---
title: Upgrade instructions for Appdynamics Tile
owner: Partners
---

## <a id='Upgrading from Previous Releases'></a>Upgrading from Previous Releases
1. To use this version of tile, please uninstall the previous tile and do a fresh install of this release. 
1. Part of the reason being, We have made many improvements to reduce the memory foot print and significantly upgraded our interface to Open Service Broker API (v2.11).
1. Also, the user form interface for service broker installation has been rewritten to be self explanatory and intuitive. 
