---
title: Using Splunk OpenTelemetry Collector for VMware Tanzu
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to use Splunk OpenTelemetry Collector for VMware Tanzu.

##<a id='using'></a> Using Splunk OpenTelemetry Collector for VMware Tanzu

The Splunk OpenTelemetry Collector runs in your Tanzu environment as soon as the Tanzu tile has been
successfully installed. You can now use the Splunk Observability Cloud
to monitor health and status of your VMware Tanzu environment.

### View metrics using the [Splunk Observability Cloud built-in dashboard](https://login.signalfx.com/#/dashboard/E5DZW47AcAE?groupId=E5DZAenAgAA&configId=EFKjQ45AYAA)

![Splunk Observability Cloud Cloud Foundry Dashboard](cf_o11y_dashboard.png)

##<a id='troubleshooting'></a> Troubleshooting

If you are a Splunk Observability Cloud customer and are not able to see your data in Splunk Observability Cloud,
you can get help in the following ways.

### Available to Splunk Observability Cloud customers

* Submit a case in the [Splunk Support Portal]
(https://splunkcommunities.force.com/customers/home/home.jsp?_ga=2.217771795.442114822.1680045269-1527546600.1670294805).
* Call [Splunk Customer Support]
(https://www.splunk.com/en_us/about-splunk/contact-us.html?_ga=2.217771795.442114822.1680045269-1527546600.1670294805&_gl=1*1eb7ol0*_ga*MTUyNzU0NjYwMC4xNjcwMjk0ODA1*_ga_5EPM2P39FV*MTY4MDE5OTU5Ni43Ni4xLjE2ODAxOTk3MDIuNjAuMC4w).

### Available to customers and free trial users

* Ask a question and get answers through community support at [Splunk Answers]
(https://community.splunk.com/t5/Splunk-Observability-Cloud/bd-p/it-signalfx?_ga=2.106220422.442114822.1680045269-1527546600.1670294805&_gl=1*mwa1df*_ga*MTUyNzU0NjYwMC4xNjcwMjk0ODA1*_ga_5EPM2P39FV*MTY4MDE5OTU5Ni43Ni4xLjE2ODAxOTk3MDIuNjAuMC4w).
* Join the Splunk [\#observability](https://splunk-usergroups.slack.com/archives/C01AK4CCWR4) user group Slack
channel to communicate with customers, partners, and Splunk employees worldwide. To join, see
[Get Started with Splunk Community - Chat groups]
(https://docs.splunk.com/Documentation/Community/current/community/Chat).

To learn about even more support options, see [Splunk Customer Success]
(https://www.splunk.com/en_us/customer-success.html?_ga=2.106220422.442114822.1680045269-1527546600.1670294805&_gl=1*mwa1df*_ga*MTUyNzU0NjYwMC4xNjcwMjk0ODA1*_ga_5EPM2P39FV*MTY4MDE5OTU5Ni43Ni4xLjE2ODAxOTk3MDIuNjAuMC4w).

