---
title: Using YOUR-PRODUCT-NAME
owner: Partners
---

This topic describes how to use YOUR-PRODUCT-NAME.

##<a id='using'></a> Using YOUR-PRODUCT-NAME

**This topic should include any instructions for how to use the service or dashboard created by the tile. 
Give procedures for how to perform the different functions offered by your product and provide screenshots where necessary.** 

**You can also use this section to include information about Architecture and Troubleshooting for known errors. 
If you include a Troubleshooting section, follow the Symptom/Explanation format used in the 
[Okta Troubleshooting](http://docs.pivotal.io/p-identity/okta/troubleshooting.html) topic**.
