---
title: Using YOUR-PRODUCT-NAME
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to use YOUR-PRODUCT-NAME.

##<a id='using'></a> Using YOUR-PRODUCT-NAME

**This topic should include any instructions for how to use the service or dashboard created by the tile.
Give procedures for how to perform the different functions offered by your product and provide screenshots where necessary.**

Other topics that you should address in your documentation:

+ **Troubleshooting**---If you include a Troubleshooting section, follow the Symptom/Explanation format used in the
  [Okta Troubleshooting](http://docs.pivotal.io/p-identity/okta/troubleshooting.html) topic.

+ **Disaster recovery**--How do you recover data from the tile after a disaster? How do you perform backups?

+ **Scalability**--How do you scale up the tile? How do you know when you need to scale up?

+ **Monitoring**--How do you monitor the tile? Does the tile send events to the Loggregator Firehose?

+ **Auditing**--Can Pivotal Platform operators use the standard Accounting and Usage reports?

+ **Security**--How is this tile secured? How is the data secured?

You can create separate pages for each of these topics or group them in one page about administering or maintaining the tile.

